*{
    padding: 0;
    margin: 0;
    font-family: roboto;
    box-sizing: border-box;
}
.section-p1{
    padding: 40px 40px;
}
.p1{
    padding: 0 20px;
}
.nav-link{
   
    margin-left: 10px;
    color: white;
}
/* hero section */
.hero-section{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
   
   
   
}

.hero-section h1{
    margin-bottom: 20px;
    margin-top: 200px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    letter-spacing: 0.7px;
    font-size: 50px;


}
.hero-section p{
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    letter-spacing: 0.7px;
    font-size: 20px;
}
.hero-btn{
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
    letter-spacing: 0.7px;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid white;
    padding: 10px 30px;
    background: transparent;
    cursor: pointer;
    border-radius: 2px;
    z-index: 1; 
    cursor: pointer;
}
.hero-btn:hover{
    border: 2px solid rgb(0, 162, 255);
    background: rgb(0, 162, 255);
    transition: 0.6s;
    color: white;
}
.heroBtn{
    display: flex;
    justify-content: space-around;
    column-gap: 20px;
}
#header-header{
    
    background-image: url("img/b2.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    
    
}
/*end of hero  section*/
/*banner*/
#sm-banner{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    background-image: url("img/background4.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
}
#sm-banner .banner-box2{
    background-image: url("img/background1.jpg");
}
#sm-banner h4{
    color: rgb(0, 162, 255);
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color:rgb(0, 162, 255);
    font-size: 28px;
    font-weight: 800;
}
#sm-banner span{
    color: rgb(11, 41, 87);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}
.banner-btn{
   
    color: rgb(0, 162, 255);
    margin-bottom: 20px;
    letter-spacing: 0.7px;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid rgb(0, 162, 255);
    padding: 5px 15px;
    background: transparent;
    cursor: pointer;
    border-radius: 2px;
    z-index: 1; 
    cursor: pointer;
}
.banner-btn:hover{
    border: 2px solid rgb(0, 162, 255);
    background: rgb(0, 162, 255);
    transition: 0.6s;
    color: white;
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-image: url("img/h3\ p30.jpg");
    min-width: 30%;
    height: 30vh;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
}
#banner3 h2{
    color: black;
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3{
    color: rgb(61, 52, 52);
    font-weight: 800;
    font-size: 15px;
}
#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner3 .banner-box2{
    background-image: url("img/headphone.jpg");
}
#banner3 .banner-box3{
    background-image: url("img/n1.jpg");
}

/*end banner*/
/*News lettter*/
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/background1.jpg");
    background-position: center;
    background-size: cover;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #1a1a1a;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #1a1a1a;
    margin-bottom: 10px;
    margin-top: 5px;
}
#newsletter p span{
   
    color: rgb(255, 255, 255);
}
#newsletter input{
    height: 3rem;
    padding: 0 1rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
}
#newsletter .news-btn{
    background-color: rgb(0, 162, 255);
    color: white;
    white-space: nowrap;
    margin-bottom: 20px;
    letter-spacing: 0.7px;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid rgb(0, 162, 255);
    padding: 13px 30px;
    cursor: pointer;
    border-radius: 2px;
    z-index: 1; 
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#newsletter .news-btn:hover{
    border: 2px solid rgb(0, 162, 255);
    background: rgb(0, 162, 255);
    transition: 0.6s;
    color: white;
}
#newsletter .form{
    display: flex;
    width: 40%;
}

/*end of newsletter*/
/* About section*/
.about-section{
    width: 100%;
    margin-top: 70px;
    
}
.about-section .main-about-container{
    width: 80%;
    display: block;
    margin: 0px auto;
    padding: 0px 0px;
}
.main-about-container .title{
    width: 100%;
    text-align: center;
   color: rgb(0, 162, 255);
    margin-bottom: 50px;
}
.main-about-container .title h1{
    text-transform: uppercase;
    margin-top: 0px;
    font-family: roboto;
    font-size: 30px;
}
.content{
    float: left;
    width: 55%;
}
.image-section{
    float: right;
    width: 40%;
    height: auto;
}
.image-section img{
    width: 100%;
    height: auto;
}
.content .article h3{
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.7px;

}
.content .article p{
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: 0.7px;
    letter-spacing: 0.7px;
    text-align: center;
    line-height: 1.5;
}
.content .article .button{
    margin: 50px;
    border-width: 2px;
}
.content .article .button a{
    text-decoration: none;
    color:rgb(0, 162, 255) ;
    margin-bottom: 20px;
    letter-spacing: 0.7px;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid rgb(0, 162, 255);
    padding: 10px 30px;
    background: transparent;
    cursor: pointer;
    border-radius: 2px;
    z-index: 1; 
    cursor: pointer;
}
.content .article .button a:hover{
    border: 2px solid rgb(0, 162, 255);
    background: rgb(0, 162, 255);
    transition: 0.6s;
    color: white;
}
.main-about-container .social{
    width: 100%;
    clear: both;
    margin-top: 50px;
    text-align: center;
    display: inline-block;
}
.main-about-container .social i{
    color:  white;
    font-size: 22px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    background-color: white;
    margin: 0px 5px;
}
/*  End About section*/
#product1{
    
    text-align: center;
}
#product1 h2{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    letter-spacing: .7px;
}
#product1 p{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    letter-spacing: .7px;
    font-weight: 600;
    padding: 0 10px;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
} 
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;

}
#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .des p{
    padding-top: 3px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro a{
    text-decoration: none;
    color: white;
}
.whatsapp_float{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;

    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;


}
.whatsapp-icon{
    margin-top: 14px;
}
@media (max-width:799px){
   
    #sm-banner .banner-box{
        min-width: 100%;
        height: 30vh;
    }
    #banner3{
        padding: 0 40px;
    }
    #banner3 .banner-box{
        width: 28%;
    }
    #newsletter .form{
        width: 70%;
    }
}


@media (max-width:768px){
.whatsapp-icon{
    margin-top: 10px;
}
.whatsapp_float{
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 10px;
    font-size: 22px;
}
.container{
    width: 80%;
    display: block;
    margin: auto;
}
 .content{
     float: none;
     width: 100%;
     display: block;
     margin: auto;

    
}
.image-section{
    float: none;
    width: 100%;
    margin-top: 50px;
}
.image-section img{
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
}
.container .title  h1{
    text-align: center;
    font-size: 30px;
}
.container .article .button{
    text-align: center;

}
.container .article .button a{
    padding: 6px 16px;
}
.container .social i{
    font-size: 19px;
    height: 35px;
    width: 35px;
    line-height: 35px;
}
.main-about-container{
  width: 80%;
  display: block;
 margin: auto;
}
.content{
float: none;
width: 100%;
display: block;
margin: auto;


        }
.image-section{
float: none;
width: 100%;
margin-top: 50px;
}
.image-section img{
    width: 100%;
height: auto;
margin: auto;
display: block;
}
.main-about-container .title  h1{
text-align: center;
font-size: 30px;
}
.main-about-container .article .button{
text-align: center;

}
.main-about-container .article .button a{
padding: 6px 16px;
}
.main-about-container .social i{
font-size: 19px;
height: 35px;
width: 35px;
line-height: 35px;
}
.hero-section h1{
    margin-bottom: 20px;
    margin-top: 200px;
    color: white;
    letter-spacing: 0.7px;
    font-size: 25px;


}
.hero-section p{
    margin-bottom: 20px;
    color: white;
    letter-spacing: 0.7px;
    font-size: 16px;
}
.hero-btn{
   
    padding: 5px 10px;
    
}
#product1 h2{
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 30px;
    letter-spacing: .7px;
    font-weight: 800;
}
#product1 p{
    font-size: 16px;
    letter-spacing: .7px;
}
    #product1 .pro-container {
        
        justify-content: center;
        
    }
    #product1 .pro{
        margin: 15px;
    }
}
@media (max-width:477px){
   
    #product1 .pro{
        width: 100%;
    }
    #sm-banner .banner-box{
        
        height: 40vh;
    }
    #sm-banner .banner-box2{
    margin-top: 20px;
    }
    #banner3{
        padding: 0 20px;
    }
    #banner3 .banner-box{
        width: 100%;
    }
    #newsletter .form{
        width: 100%;
    }

}
